<h1>Nuevo Game: <small>{{heroe.title}}</small> </h1>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40">
    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="50">
                <mat-label>Titulo</mat-label>
                <input matInput type="text" [(ngModel)]="heroe.title" required>
            </mat-form-field>

            <mat-form-field fxFlex="50">
                <mat-label>Released</mat-label>
                <input matInput type="text" [(ngModel)]="heroe.released" required>
            </mat-form-field>
        </div>

        <mat-form-field fxFlex="100">
            <mat-label>Date Start</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.date_start" required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Last Play</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.last_dayplay" required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Color</mat-label>
            <mat-select [(ngModel)]="heroe.color" required>
                <mat-option *ngFor="let color of colors" [value]="color.id">
                    {{color.desc}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Poster Url</mat-label>
            <input matInput type="url" [(ngModel)]="heroe.poster" required>
        </mat-form-field>

        <div fxLayout>
            <button mat-raised-button color="primary" (click)="guardar()">
                <mat-icon>edit</mat-icon>
                Guardar
            </button>

            <span class="spacer"></span>

            <button mat-raised-button color="warn" (click)="borrarHeroe()" *ngIf="heroe.id">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>

    </div>
    <div fxFlex="50">
        <img [src]="heroe | imagen">
    </div>
</div>