<div class="card" style="background-color:#424242;">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img [src]="heroe | imagen" class="img-fluid" />
        <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
    </div>

    <div class="card-header text-truncate p-2 border-bottom">{{heroe.title}}</div>

    <div class="card-footer d-flex justify-content-center align-items-center border-top p-2">
        <button type="button" class="btn btn-primary w-100 p-2 me-2" [routerLink]="['/heroes', heroe.id]">Ver</button>
        <button type="button" class="btn btn-danger w-100 p-2" [routerLink]="['/heroes/editar', heroe.id]">Editar</button>
    </div>
</div>

<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ heroe.title }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ heroe.released }}
        </mat-card-subtitle> 
    </mat-card-header>

    <img mat-card-image [src]="heroe | imagen" alt="">

    <mat-card-content>
        <h3>{{ heroe.genre }}</h3>
        <p>
            <b>Date Start</b>: {{ heroe.date_start}}
            <br>
            <b>Last Play:</b> {{ heroe.last_dayplay }}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button color="accent" [routerLink]="['/heroes', heroe.id]">Leer más...</button>
        <button mat-button color="warn" [routerLink]="['/heroes/editar', heroe.id]">Editar</button>
    </mat-card-actions>

</mat-card> -->