<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ heroe.title }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ heroe.released }}
        </mat-card-subtitle> 
    </mat-card-header>

    <img mat-card-image [src]="heroe | imagen" alt="">

    <mat-card-content>
        <h3>{{ heroe.genre }}</h3>
        <p>
            <b>Date Start</b>: {{ heroe.date_start}}
            <br>
            <b>Last Play:</b> {{ heroe.last_dayplay }}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button color="accent" [routerLink]="['/heroes', heroe.id]">Leer más...</button>
        <button mat-button color="warn" [routerLink]="['/heroes/editar', heroe.id]">Editar</button>
    </mat-card-actions>

</mat-card>