<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">

        <mat-toolbar>
            <span>Menú</span>
            
                <span class="spacer"></span>

            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./listado" mat-list-item (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>label</mat-icon>
                <span>Juegos 2023</span>
            </a>
            <!-- <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>add</mat-icon>
                <span>Añadir Juego</span>
            </a> -->
            <!-- <a routerLink="./buscar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>search</mat-icon>
                <span>Buscar Juego</span>
            </a> -->

            <mat-divider></mat-divider>
            
            <!-- <a routerLink="./listado2022" mat-list-item (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>label</mat-icon>
                <span>Juegos del 2022</span>
            </a> -->

            <mat-divider></mat-divider>

            <a routerLink="./Movies2023" mat-list-item (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>label</mat-icon>
                <span>Movies 2023</span>
            </a>
            <!-- <a routerLink="./agregar/movie" mat-list-item (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>add</mat-icon>
                <span>Agregar Movie</span>
            </a> -->
        </mat-nav-list>

    </mat-sidenav>
     
    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

            <span class="spacer"></span>

                <h1 class="col-title">BURST</h1>

            <span class="spacer"></span>
        
        <button mat-button>
            Logout
        </button>
    </mat-toolbar>

        <router-outlet></router-outlet>

</mat-sidenav-container>